<include file="Public/head"/>
<div class="col-xs-9 col-sm-9  col-md-10 col-lg-10 ">
    <div class="righttitle">
        <h4 >场景内容</h4>
        <a href="{gr-:U('Live/index',array('token'=>$token))}"  class="btn btn-primary" ><i class="mdi-content-reply"></i>返回</a>
        <div class="clearfix"></div>
    </div>
    <div >
        <div class="pageNavigator left"> <a href="{gr-:U('Live/content_add',array('token'=>$token,'live_id'=>$live_id))}" title="添加内容" class="btn btn-primary"><i class="mdi-content-add"></i>添加内容</a></div>
        <div class="searchbar right hide">
            <form method="post" action="">
                类型：
                <select class="form-control"  name="type" id="">
                    <option value="">请选择....</option>
                    <option value="1">图片内容</option>
                    <option value="2">视频内容</option>
                </select>
                <input type="text" id="msgSearchInput" class="txt" placeholder="输入关键词搜索" name="search" value="">
                <input type="hidden" name="ac" value="hotels-list">
                <input type="hidden" name="id" value="9878">
                <input type="hidden" name="wxid" value="{gr-$wxid}">
                <input type="submit" value="搜索"  id="msgSearchBtn" href="" class="btn btn-warning btn-sm" title="搜索">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="">
        <form method="post" action="" id="info">
            <input name="delall" type="hidden" value="">
            <input name="wxid" type="hidden" value="">
            <table class="table table-condensed table-bordered table-striped" border="0" cellspacing="0" cellpadding="0" width="100%">
                <thead>
                    <tr>
                        <th width="100">内容名称</th>
                        <th width="120">图片内容</th>
                        <th width="120">视频连接</th>
                        <th width="120">视频裁图</th>
                        <th width="40">类型</th>
                        <th width="40">是否显示</th>
                        <th width="40">排序</th>
                        <th width="50" class="norightborder">操作</th>
                    </tr>
                </thead>
                <tbody>
                <tr></tr>
                <volist name="list" id="item">
                <tr>
                    <td>{gr-$item.name}</td>
                    <td><a href="{gr-$item.bg_pic}" target="_blank" class="btn btn-warning btn-sm">点击查看图片</a></td>
                    <td><if condition="$item.movie_link eq ''">无<else/><a href="{gr-$item.movie_link}" target="_blank" class="btn btn-warning btn-sm">点击查看视频内容</a></if></td>
                    <td><if condition="$item.movie_pic eq ''">无<else/><a href="{gr-$item.movie_pic}" target="_blank" class="btn btn-warning btn-sm">点击查看视频图片</a></if></td>
                    <td>
                        <if condition="$item.type eq '1'">
                        图片
                        <elseif condition="$item.type eq '2'"/>
                        视频
                        </if>
                    </td>
                    <td>
                        <if condition="$item.is_show eq '1'">
                        显示
                        <else/>
                        隐藏
                        </if>
                    </td>
                    <td>{gr-$item.sort}</td>
                    <td class="norightborder">
                        <a href="{gr-:U('Live/content_add',array('id'=>$item['id'],'token'=>$token,'live_id'=>$live_id))}" class="btn btn-warning btn-sm"><i class="mdi-editor-mode-edit"></i>修改</a>

                    <a class="btn btn-warning btn-sm" href="javascript:drop_confirm('您确定要删除吗?', '{gr-:U('Live/content_del',array('id'=>$item['id'],'token'=>$token,'live_id'=>$live_id))}');"><i class="mdi-action-delete"></i>删除</a></td>
                </tr>
                </volist>
            </tbody>
        </table>
    </form>
</div>
<div >
    <div class="pageNavigator right">
        <div class="pages">{gr-$page}</div>
    </div>
    <div class="clearfix"></div>
</div>
</div>
<include file="Public/footer"/>