<include file="Public/basehead"/>
<body>
    <div style="line-height:200%;padding:10px 20px;">
        <strong>预约人姓名：</strong>{gr-$userinfo['truename']}<br>
        <strong>授课老师：</strong>{gr-$userinfo['choose']}<br>
        <strong>预约人电话：</strong>{gr-$userinfo['tel']}<br>
        <strong>备 注：</strong>{gr-$userinfo['info']}<br>
        <strong>下单时间：</strong>{gr-$userinfo['booktime']|date="Y年m月d日  H:i:s",###}<br>
        <if condition="$ok eq 1">
        <strong><font  color='red'>修改成功</font> </strong>
        <elseif condition="$ok eq 2"/>
        <strong><font  color='red'>修改失败</font> </strong>
        </if>
    </div>
    <form class="form" method="post" id="form" action="">
        <table class="table" >
            <tbody>
                <tr>
                    <th><span class="red">*</span>订单状态：</th>
                    <td>
                        <select class="form-control"  id="remate" name="remate" class="input-medium" style="width:80px">
                            <option value="0" <if condition="$userinfo['remate'] eq 0">selected="selected"</if>>待回复</option>
                            <option value="1" <if condition="$userinfo['remate'] eq 1">selected="selected"</if>>确认</option>
                            <option value="2" <if condition="$userinfo['remate'] eq 2">selected="selected"</if>>拒绝</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><span class="red">*</span>客服备注：</th>
                    <td>
                        <textarea class="form-control" id="kfinfo" name="kfinfo" style="width:400px; height:100px">{gr-$userinfo['kfinfo']}</textarea>
                    </td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td>
                        <input type="hidden" name="id" value="{gr-$userinfo['id']}" />
                        <input type="hidden" name="wecha_id" value="{gr-$userinfo['wecha_id']}" />
                        <input type="hidden" name="token" value="{gr-$userinfo['token']}" />
                    <button type="submit" name="button" class="btn btn-primary"><i class="mdi-content-save"></i>保存</button> </td>
                </tr>
            </tbody>
        </table>
    </form>
    <include file="Public/basefooter"/>