<include file="Public/head"/>
<div class="col-xs-9 col-sm-9  col-md-10 col-lg-10 " >
    <div class="righttitle">
        <h4>发送记录<span class="FAQ"></span></h4>
    </div>

    <div class=" form">
         <ul id="tags" class="nav nav-tabs" style="width:100%">
            <li >
                <a href="{gr-:U('User/Message/index')}">发送消息（通过群发接口）</a>
            </li>
            <li >
                <a href="{gr-:U('User/Message/index2')}">发送消息（通过客服接口）</a>
            </li>
            <li class="active" role="presentation">
                <a href="{gr-:U('User/Message/sendHistory')}">发送记录</a>
            </li>
            <li>
                <a href="{gr-:U('User/Message/help')}">帮助说明</a>
            </li>
            <div class="clearfix" style="height:1px;background:#eee;margin-bottom:20px;"></div>
        </ul>
    </div>
    <div class=" form">
        <div class="bdrcontent ">
            <div id="div_ptype">
                <table class="table table-condensed table-bordered table-striped" border="0" cellSpacing="0" cellPadding="0" width="100%">
                    <thead>
                        <tr>
                            <th style=" width:180px;">标题</th>
                            <th style=" width:80px;">类型</th>
                            <th style=" width:80px;">成功数量</th>
                            <th style=" width:150px;" class="norightborder">时间</th>
                            <th style=" width:80px;">操作</th>
                        </tr>
                    </thead>
                    <volist name="info" id="actinfo">
                    <tr>
                        <td>{gr-$actinfo.title}</td>
                        <td>{gr-$actinfo.msgtype}</td>
                        <td>{gr-$actinfo.reachcount}</td>
                        <td>
                            <php>echo date('Y-m-d',$actinfo['time']);</php>
                        </td>
                        <td class="norightborder">
                            <a class="a_oper btn btn-warning btn-sm" href="{gr-:U('Message/item',array('id'=>$actinfo['id']))}">查看</a>
                        <a class="a_oper btn btn-warning btn-sm" href="{gr-:U('Message/del',array('id'=>$actinfo['id']))}"><i class="mdi-action-delete"></i>删除</a></td>
                        </volist>
                    </tr>
                </table>
            </div>
        </div>
        <div class="footactions" style="padding-left:10px">
            <div class="pages">{gr-$page}</div>
        </div>
    </div>

</div>

<div class="clearfix"></div>
</div>
</div>
</div>
<!--底部-->
</div>
<include file="Public/footer"/>