<include file="Public/head"/>
<script src="__STATIC__/artDialog/jquery.artDialog.js?skin=default"></script>
<script src="__STATIC__/artDialog/plugins/iframeTools.js"></script>

 <div class="col-xs-9 col-sm-9  col-md-10 col-lg-10 ">
          <div class="righttitle"><h4>编辑语音回复</h4><a href="javascript:history.go(-1);"  class="btn btn-primary" data-top ><i class="mdi-content-reply"></i>返回</a></div> 
<div class="">
  <form class="form" method="post"   action="{gr-:U('Voiceresponse/upsave')}"  target="_top" enctype="multipart/form-data" >
<table style=" margin:20px 0 0 0;" border="0" cellSpacing="0" cellPadding="0" width="100%">
  <thead>
                          <tr>
  <th valign="top"><span class="red">*</span><label for="keyword">关键词：</label></th>
  <td><input type="input" class="form-control" id="keyword" value="{gr-$info.keyword}" name="keyword" style="width:600px" ><br />
                  多个关键词请用空格格开：例如: 美丽&nbsp;漂亮&nbsp;好看</td>
</tr>
<tr>
  <th valign="top"><span class="red">*</span><label for="Title">音乐标题：</label></th>
  <td><input type="input" class="form-control" id="Title" value="{gr-$info.title}" name="title" style="width:600px" > <p>注明：添加QQ音乐因为腾讯防盗链，<span class="red">后台无法试听,但微信可以播放!</span></p>
                  </td>
</tr>
                            <tr>
  <th valign="top"><span class="red">*</span><label for="MusicUrl">音乐链接：</label></th>
  <td><input type="input" class="form-control" id="musicurl" value="{gr-$info.musicurl}" name="musicurl" style="width:600px" > <script src="__STATIC__/gfile.js"></script><a href="###" onclick="gfilePicUpload('musicurl',0,0,'{gr-$token}')" class="btn btn-warning btn-sm"><i class="mdi-file-file-upload"></i>上传</a>&nbsp;<a href="###" onclick="chooseFile('musicurl','music')" class="btn btn-warning btn-sm"><i class="mdi-toggle-check-box"></i>选择</a><br />
                  </td>
</tr>
                            <tr>
  <th valign="top"><span class="red">*</span><label for="HQMusicUrl">高品质音乐链接：</label></th>
  <td><input type="input" class="form-control" id="HQMusicUrl" value="{gr-$info.hqmusicurl}" name="hqmusicurl" style="width:600px" > <a href="###" onclick="gfilePicUpload('HQMusicUrl',0,0,'{gr-$token}')" class="btn btn-warning btn-sm""><i class="mdi-file-file-upload"></i>上传</a>&nbsp;<a href="###" onclick="chooseFile('HQMusicUrl','music')" class="btn btn-warning btn-sm""><i class="mdi-toggle-check-box"></i>选择</a><br />没有高品质音乐链接，请直接再填一遍音乐链接。（高质量音乐链接，WIFI环境优先使用该链接播放音乐）
                  </td>
</tr>
  </thead>
  <tbody>
<tr>
  <th valign="top"><label for="Description">音乐描述：</label></th>
  <td><textarea  class="form-control" id="Hfcol-xs-9 col-sm-9  col-md-10 col-lg-10 " name="description" style="width:600px;">{gr-$info.description}</textarea><br />请不要多于30字否则无法发送!
</td>
   <input type="hidden" name="id" value="{gr-$info.id}" />
<tr>
  <th></th>
  <td><button type="submit"  name="button"  class="btn btn-primary" ><i class="mdi-content-save"></i>保存</button>　<a href="javascript:history.go(-1);"  class="btn btn-primary"><i class="mdi-navigation-cancel"></i>取消</a>
  <div class="clearfix"></div>
</td>
</tr>
  </tbody>
</table>
  </form>

<script type="text/javascript">

function addvotetouser(obj, type) {

document.getElementById("Title").value =obj.getAttribute('user');
document.getElementById("HQMusicUrl").value =obj.value;
document.getElementById("MusicUrl").value =obj.value;
document.getElementById("Hfcol-xs-9 col-sm-9  col-md-10 col-lg-10 ").value =obj.getAttribute('user');
}





</script>


  </div> 

        </div>   
   
        <div class="clearfix"></div>
      </div>
    </div>
  </div> 

<!--底部-->
  	</div>
<include file="Public/footer"/>