<extend name="template/base"  />
<block name="bodyIncludes" >
<table class="table table-condensed table-bordered table-striped"  width="100%" border="0" cellspacing="0" cellpadding="0" id="alist">
    <tr>
        <td >ID</td>
        <td>公众号名称</td>
        <td >所属等级</td>
        <td >所属用户名</td>
        <td  style="display:none">使用次数</td>

        <td style="display:none">状态</td>
        <td>管理操作</td>
    </tr>
    <volist name="list" id="vo">
    <tr>
        <td align='center'>{gr-$vo.id}</td>
        <td >{gr-$vo.wxname}</td>
        <td ><if condition="$vo['usr']['gid'] eq -1">0<else/>{gr-$vo.user.gid}</if></td>
        <td >{gr-$vo.user.username}</td>
        <td align='center' style="display:none">{gr-$vo.usenum}</td>
        <td align='center' style="display:none"><eq name="vo.status" value="1"><font color="red">√</font><else/><font color="blue">×</font></eq>
        </td>
        <td align='center'><a href="javascript:void(0)" onclick="if(confirm('确定删除吗')){location.href='{gr-:U('Token/del/',array('id'=>$vo['id']))}'}">删除</a>
        </td>
    </tr>
    </volist>
    <style>
    .current{border: 0;padding: 1px 9px;color: #fff;background: #3F8EF3 url(main/pageh.png) no-repeat;}
    </style>
    <tr bgcolor="#FFFFFF">

        <td colspan="7"><div class="listpage">{gr-$page}</div></td>

    </tr>

</table>
</block>