<extend name="template/base"  />
<block name="bodyIncludes" >
    <a href="{gr-:U('User/add')}" class="btn btn-sm btn-default">添加</a>
<table class="table table-condensed table-bordered table-striped"  width="100%" border="0" cellspacing="0" cellpadding="0" id="alist">
	<thead>   <tr>
        <td width="70">ID</td>
        <td width="150">用户名称</td>
        <td width="150">所在组</td>
        <td >用户描述</td>
        <td width="100">最后登录IP</td>
        <td width="150">最后登录位置</td>
        <td width="150">最后登录时间</td>
        <td width="70">状态</td>
        <td width="100">管理操作</td>
    </tr></thead>
 	
 	<tbody>
    <volist name="list" id="vo">
    <tr>
        <td align='center'>{gr-$vo.id}</td>
        <td >{gr-$vo.username}</td>
        <td >{gr-$role[$vo['role']]}</td>
        <td >{gr-$vo.remark}</td>
        <td align='center'>{gr-$vo.last_login_ip}</td>
        <td align='center'>{gr-$vo.last_location}</td>
        <td align='center'><php>echo date('Y-m-d H:i:s', $vo['last_login_time'])</php></td>
        <td align='center'><eq name="vo.status" value="1"><font color="red">√</font><else/><font color="blue">×</font></eq>
        </td>
        <td align='center'>
            <a href="{gr-:U('User/edit/',array('id'=>$vo['id']))}">修改</a>
            | <eq name="vo.username" value="admin"><font color="#cccccc">删除</font><else/><a href="javascript:void(0)" onclick="return confirmurl('{gr-:U('User/del/',array('id'=>$vo['id']))}','确定删除该用户吗?')">删除</a></eq>
        </td>
    </tr>
    </volist>
    <tr bgcolor="#FFFFFF">
        <td colspan="9"><div class="listpage">{gr-$page}</div></td>
    </tr>
</tbody>
</table>
</block>