<include file="Public/header" />
<include file="Public/navbar" />
<div class="main-container" id="main-container">
	<div class="main-container-inner">
		<include file="Public/left" />

		<div class="main-content">
			<div class="breadcrumbs" id="breadcrumbs">
				<ul class="breadcrumb">
					<li><i class="icon-home home-icon"></i> <a href="javascript:void(0);">商城设置</a></li>
					<li class="active">商城设置</li>
				</ul>
			</div>
			<div id="content_main">
				<iframe src="{:U('Admin/Index/set')}" id="main_iframe" name="main_iframe"
					style="width: 100%;height:100%;" frameborder="0" onLoad="iFrameHeight()"  scrolling="yes"></iframe>
				<script type="text/javascript" language="javascript"> 

					function iFrameHeight() {
						var ifm = document.getElementById("main_iframe");
						var subWeb = document.frames ? document.frames["main_iframe"].document
								: ifm.contentDocument;
						subWeb = document.body.clientHeight;
						if (ifm != null && subWeb != null) {
							ifm.style.height = (subWeb-100)+"px";
						}
						// console.log(ifm);
					}
				</script>


			</div>
		</div>

	</div>
</div>
<include file="Public/footer" />