<div class=" form">
<ul id="tags" class="nav nav-tabs" style="width:100%">
<li <if condition="$tab eq 'stastic'">class="active" role="presentation"</if>>
				<a href="{gr-:U('Share/index')}">7日分享统计</a> 
			</li>
<li <if condition="$tab eq 'records'">class="active" role="presentation"</if>>
				<a href="{gr-:U('Share/records')}">分享记录</a> 
			</li>
<li <if condition="$tab eq 'set'">class="active" role="presentation"</if>>
				<a href="{gr-:U('Share/set')}">分享设置</a> 
			</li>
						<div class="clearfix" style="height:1px;background:#eee;margin-bottom:20px;"></div>
		</ul>
</div>