<include file="Public/head"/>
<script src="__STATIC__/artDialog/jquery.artDialog.js?skin=default"></script>
<script src="__STATIC__/artDialog/plugins/iframeTools.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="__CSS__/cymain.css" /> -->
<div class="col-xs-9 col-sm-9  col-md-10 col-lg-10 ">

<div class="righttitle">
  <h4>{gr-$infoType.name}回复配置 </h4><a href="javascript:history.go(-1);" class="btn btn-primary" data-top><i class="mdi-content-reply"></i>返回</a>
 </div>
      
    <div class=" bgfc" style="margin-top:10px;">
	  <form class="form" method="post" action="" target="_top" enctype="multipart/form-data">	 
		<table class="table" >
			<tbody>
				<tr>
				  <th valign="top"><span class="red">*</span>关键词：</th>
				  <td>
					<span class="red">会员卡 —— 当用户输入该关键词时，将会触发此回复。</span></td>
				</tr>
				<tr>
					<th width="120"><span class="red">*</span>会员回复标题：</th>
					<td><input type="text" name="title" value="{gr-$set.title}" class="form-control" style="width:550px;"><br>会员回复会员卡的时候出现的图文标题</td>
				</tr>
				<tr>
					<th width="120"><span class="red">*</span>非会员回复标题：</th>
					<td><input type="text" name="title1" value="{gr-$set2.title}" class="form-control" style="width:550px;"><br>非会员回复会员卡的时候出现的图文标题</td>
				</tr>
				<tr>
					<th width="120">会员内容介绍：</th>
					<td><textarea style="width:560px;height:75px" name="info" id="info" class="form-control">{gr-$set.info}</textarea><br/>最多填写120个字<br>会员回复会员卡的时候出现的图文回复介绍</td>
				</tr>
				<tr>
					<th width="120">非会员内容介绍：</th>
					<td><textarea style="width:560px;height:75px" name="info1" id="info" class="form-control">{gr-$set2.info}</textarea><br/>最多填写120个字<br>非会员回复会员卡的时候出现的图文回复介绍</td>
				</tr>
				<tr>
					<th>会员回复图片：</th>
					<td><input type="text" name="picurl" value="{gr-$set.picurl}" id="pic" class="form-control" style="width:550px;"> <script src="__STATIC__/gfile.js"></script><a href="###" onclick="gfilePicUpload('pic',700,420,'{gr-$token}')" class="btn btn-warning btn-sm"><i class="mdi-file-file-upload"></i>上传</a> <a href="###" onclick="viewImg('pic')" class="btn btn-warning btn-sm"><i class="mdi-action-pageview"></i>预览</a>   &nbsp; 大小为720x400<br>会员回复会员卡的时候出现的图文图片地址</td>
				</tr>
				<tr>
					<th>非会员回复图片：</th>
					<td><input type="text" name="picurl1" value="{gr-$set2.picurl}" id="pic1" class="form-control" style="width:550px;"> <script src="__STATIC__/gfile.js"></script><a href="###" onclick="gfilePicUpload('pic1',700,420,'{gr-$token}')" class="btn btn-warning btn-sm"><i class="mdi-file-file-upload"></i>上传</a> <a href="###" onclick="viewImg('pic1')" class="btn btn-warning btn-sm"><i class="mdi-action-pageview"></i>预览</a>   &nbsp; 大小为720x400<br>非会员回复会员卡的时候出现的图文图片地址</td>
				</tr>
				<tr>
					<th>第三方接口：</th>
					<td><input name="apiurl" value="{gr-$set.apiurl}" class="form-control" style="width:550px;" type="text">   &nbsp; {wechat_id}表示用户参数</td>
				</tr>
				
				<th>&nbsp;</th>
					<td>
					<input type="hidden" name="keyword" value="{gr-$infoType.keyword}" />
					<input type="hidden" name="infotype" value="{gr-$infoType.type}" />
					<input type="hidden" name="token" value="{gr-$token}" />
						<button type="submit" name="button" class="btn btn-primary"><i class="mdi-content-save"></i>保存</button>
						<a href="javascript:history.go(-1);" class="btn btn-primary"><i class="mdi-navigation-cancel"></i>取消</a>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
  </div> 
 
  
        </div>
<include file="Public/footer"/>