<div class="IndexFoot" style="clear:both">
    <div class="foot" style="padding-top:20px;">
        <div id="copyright" >
            杭州博也网络科技有限公司<br/>
            Copyright&copy;2013-{gr-:date('Y',time())}<br/>
            <a href="http://www.miibeian.gov.cn" target="_blank" style="color:white">{gr-:C('ipc')}</a>
        </div>
        <div class="ewm2">
            <a target="_blank" href="__IMG__/ewm.jpg" title=" 杭州博也网络科技官方微信服务号"><img src="__IMG__/ewm.jpg" width="150px" height="150px"></a>
        </div>
        <div class="foot_page"  style="color:white;">
            <i class="mdi-communication-email"></i>：hzboye@163.com<br/>
            <i class="mdi-maps-local-phone" style="width:16px;"></i>：0571-88172520，<i class="mdi-hardware-phone-iphone" style="font-size: 1.6em;"></i>：13484379290<br/>
            <i class="mdi-communication-chat"  style="width:16px;"></i>：
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={gr-$cfg_qq}&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:{gr-$cfg_qq}:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
            &nbsp;
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=346551990&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:346551990:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
            <br/>
        </div>
    </div>
</div>
<div style="display:none;clear:both">
    {gr-:base64_decode(C('countsz'))}
</div>
<!-- Topbg END -->
<!-- 底部脚本区 -->
<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
<script src="__STATIC__/bootstrap/material-design/js/ripples.min.js"></script>
<script src="__STATIC__/bootstrap/material-design/js/material.min.js"></script>
<script src="__JS__/bottom.js"></script>
<script>
                    $(function() {
                        	$.material.init();
                        	//左侧导航
			
                    });
</script>
</body>
</html>