<include file="Public/head"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/default_user_com.css" media="all">
<script src="__STATIC__/artDialog/jquery.artDialog.js?skin=default"></script>
<script src="__STATIC__/artDialog/plugins/iframeTools.js"></script>
<div class="col-xs-9 col-sm-9  col-md-10 col-lg-10 ">
    <include file="Car/menu"/>
    <div class="righttitle">
        <h4 >车主管理</h4>
        <div class="clearfix"></div>
    </div>
    <div >
        <div class="alert">
            <p><span class="bold">注意：</span>根据保险费用和里程费用倒序排序，更多信息请查看［费用详细］ </p>
        </div>
    </div>
    <div >
    </div>
    <div class="">
        <form method="post" action="" id="info">
            <input name="delall" type="hidden" value="del">
            <input name="wxid" type="hidden" value="{gr-$wxid}">
            <table class="table table-condensed table-bordered table-striped" border="0" cellspacing="0" cellpadding="0" width="100%">
                <thead>
                    <tr>
                        <th>车主姓名</th>
                        <th>品牌/车系</th>
                        <th>车型</th>
                        <th>手机号码</th>
                        <th>车牌号码</th>
                        <th>购车时间</th>
                        <th>上次保险费用</th>
                        <th>上次里程费用</th>
                        <th style="width:200px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="onwers" id="vo">
                    <tr>
                        <td>{gr-$vo['car_userName']}</td>
                        <td>{gr-$vo['brand_serise']}</td>
                        <td>{gr-$vo['carmodel']}</td>
                        <td>{gr-$vo['user_tel']}</td>
                        <td>{gr-$vo['car_no']}</td>
                        <td>{gr-$vo['car_buyTime']}</td>
                        <td>{gr-$vo['car_insurance_lastCost']}</td>
                        <td>{gr-$vo['car_care_lastCost']}</td>
                        <td class="input-medium">
                            <a class="btn btn-warning btn-sm" href="###" onclick="showIntroDetail({gr-$vo.id})"><i class="mdi-image-details"></i>费用详细</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-warning btn-sm" href="{gr-:U('Car/del_carowner',array('token'=>$token,'id'=>$vo['id']))}" title="删除" onclick="return(confirm('确定要删除吗？'))" ><i class="mdi-action-delete"></i>删除</a></td>
                    </tr>
                    </volist>
                </tbody>
            </table>
        </form>
    </div>
    <div >
        <div class="pageNavigator right">
            <div class="pages">{gr-$page}</div>
        </div>
        <script>
                    function showIntroDetail(id){
                        art.dialog.open('{gr-:U('Car/owner_uinfo',array('token'=>$token,'id'=>''))}'+id,{lock:false,title:'车主详情',width:700,height:520,resize:true,yesText:'关闭',background: '#000',opacity: 0.87});
                    }
        </script>
        <div class="clearfix"></div>
    </div>
</div>
<include file="Public/footer"/>