 <include file="Public/head" /> 
 <!-- <link rel="stylesheet" type="text/css" href="__CSS__/cymain.css" /> -->
 <link rel="stylesheet" href="__STATIC__/kindeditor/themes/default/default.css" />
<link rel="stylesheet" href="__STATIC__/kindeditor/plugins/code/prettify.css" />
<script src="__STATIC__/kindeditor/kindeditor.js" type="text/javascript"></script>
<script src="__STATIC__/kindeditor/lang/zh_CN.js" type="text/javascript"></script>
<script src="__STATIC__/kindeditor/plugins/code/prettify.js" type="text/javascript"></script>
<script src="__JS__/date/WdatePicker.js"></script>
<script type="text/javascript" src="__JS__/formCheck/formcheck.js"> </script>
<script src="__STATIC__/artDialog/jquery.artDialog.js?skin=default"></script>
<script src="__STATIC__/artDialog/plugins/iframeTools.js"></script>
<script>

var editor;
KindEditor.ready(function(K) {
editor = K.create('#intro', {
resizeType : 1,
allowPreviewEmoticons : false,
allowImageUpload : true,
uploadJson : '{gr-:U("User/GFile/kindedtiropic")}',
items : [
'source','undo','clearhtml','hr',
'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
'insertunorderedlist', '|', 'emoticons', 'image','link', 'unlink','baidumap','lineheight','table','anchor','preview','print','template','code','cut', 'music', 'video']
});

});
</script>

<script>
 
function showChildCats(value){
	$("#catid").html('<option value="0">请选择...</option>');
	if(value==0){
		document.getElementById('catid').disabled=true;
	}else{
		$.ajax({
			url: $('#catUrl').attr("value")+'&parentid='+value,
			success: function( data ) {
				document.getElementById('catid').disabled=false;
				$("#catid").html($("#catid").html()+data);
			}
		});
	}
}
function toDecimal(x) {  
            var f = parseFloat(x);  
            if (isNaN(f)) {  
                return;  
            }  
            f = Math.round(x*10)/10;  
            return f;  
        }  
function calDiscount(){
	var price=$('#price').attr('value');
	var oprice=$('#oprice').attr('value');
	if(oprice!=0&&oprice!=''){
		var dis=oprice-price;
		var discount=10-toDecimal((dis/oprice)*10);
	}else{
		discount=10;
	}
	$('#discount').attr('value',discount);
}
</script>
<input type="hidden" id="catUrl" value="{gr-:U('Product/ajaxCatOptions',array('token'=>$token))}" />
  <div class="col-xs-9 col-sm-9  col-md-10 col-lg-10 "> 
   <div class="righttitle"> 
    <h4>团购设置</h4> 
    <a href="{gr-:U('Groupon/products',array('token'=>$token))}" class="btn btn-primary btn-sm" data-top><i class="mdi-content-reply"></i>返回</a> 
   </div> 
   

   <form class="form" method="post" id="form" action=""> 
<if condition="$isUpdate eq 1">
<input type="hidden" name="id" value="{gr-$set.id}" />
</if>
<input type="hidden" name="discount" id="discount" value="{gr-$set.discount}" />
    <div class=" bgfc"> 
     <table class="table" > 
      <tbody> 
       <tr> 
        <th><span class="red">*</span>名称：</th> 
        <td><input type="text" id="name" name="name" value="{gr-$set.name}" class="form-control" style="width:400px;" /></td> 
       </tr> 
       <tr style="display:none"> 
        <th><span class="red">*</span>类别：</th> 
        <td><select class="form-control"  id="catid" name="catid"><option value="1000000000">请选择分类...</option>{gr-$catsOptions}</select></td> 
       </tr>
        <tr style="display:none"> 
        <th><span class="red">*</span>店铺：</th> 
        <td><input type="text" name="storeid" value="1" class="form-control" style="width:400px;" /></td> 
       </tr>
        <tr> 
        <th><span class="red">*</span>价格：</th>
        <td><input type="text" id="price" onchange="calDiscount();" name="price" value="{gr-$set.price}" class="form-control" style="width:100px;" /> 元</td> 
       </tr>
       <tr> 
        <th><span class="red">*</span>原价：</th> 
        <td><input type="text" id="oprice" onchange="calDiscount();" name="oprice" value="{gr-$set.oprice}" class="form-control" style="width:100px;" /> 元</td> 
       </tr>
       <tr> 
        <th><span class="red">*</span>截止日期：</th> 
        <td><input type="input" class="form-control" id="enddate" value="{gr-$set.endtime|date="Y-m-d",###}" onClick="WdatePicker()" name="enddate" /></td> 
       </tr>
       <tr> 
        <th><span class="red">*</span>报名基数：</th> 
        <td><input type="text" id="fakemembercount" name="fakemembercount" value="{gr-$set.fakemembercount}" class="form-control" style="width:80px;" /> 人 （前台显示的报名人数会加上这个数字）</td> 
       </tr>
        <tr> 
        <th><span class="red">*</span>关键词：</th>
        <td><input type="text" name="keyword" id="keyword" value="{gr-$set.keyword}" class="form-control" style="width:400px;" /></td> 
       </tr>
        <tr> 
        <th><span class="red">*</span>Logo地址：</th>
        <td><input type="text" name="logourl" value="{gr-$set.logourl}" class="form-control" style="width:400px;" id="pic" />  <script src="__STATIC__/gfile.js"></script><a href="###" onclick="gfilePicUpload('pic',1000,1000,'{gr-$token}')"  class="btn btn-warning btn-sm" ><i class="mdi-file-file-upload"></i>上传</a> <a href="###" onclick="viewImg('pic')" class="btn btn-warning btn-sm"><i class="mdi-action-pageview"></i>预览</a></td> 
       </tr>
        <tr>
                  <th valign="top"><label for="info">图文详细页内容：</label></th>
                  <td><textarea name="intro" id="intro"  rows="5" style="width:590px;height:360px">{gr-$set.intro}</textarea></td>
                </tr>  
       <tr>         
       <th>&nbsp;</th>
       <td>
      <input type="hidden" name="groupon" value="1" />
       <button type="submit" name="button" class="btn btn-primary"><i class="mdi-content-save"></i>保存</button> &nbsp; <a href="{gr-:U('Groupon/products',array('token'=>$token))}" class="btn btn-primary"><i class="mdi-navigation-cancel"></i>取消</a></td> 
       </tr> 
      </tbody> 
     </table> 
     </div>
    
   </form> 
  </div> 
<script language="javascript">
$(function(){

	$("#form").valid([
	{ name:"name",simple:"名称",require:true},
	{ name:"keyword",simple:"关键词",require:true},
	//{ name:"catid",message:"请选择类别",require:true},
	{ name:"price",type:"currency",message:"价格输入不正确"},
	{ name:"oprice",type:"currency",message:"原价输入不正确"},
	{ name:"fakemembercount",type:"int",message:"报名基数只能填写整数或0"}
		
	],true,true);

})
</script>
  <include file="Public/footer" />