<include file="Public/top"/>
<div id="wp" class="wp"><link href="__CSS__/style.css" rel="stylesheet" type="text/css">
 <div class="col-xs-9 col-sm-9  col-md-10 col-lg-10 manage">
    <div class="developer">
       <div class="appTitle normalTitle" style="padding: 20px;">
        <h2>短信管理</h2>
        <div class="accountInfo">
        
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="tablecol-xs-9 col-sm-9  col-md-10 col-lg-10 ">
        <!--左侧功能菜单-->
        <div class="sideBar">
          <div class="catalogList">
            <ul class="list-unstyled">
    
			<li > <a href="{gr-:U('User/Sms/index')}">短信记录</a></li>
			<li > <a href="{gr-:U('User/Sms/expense')}">消费记录</a></li>
				<li class="subCatalogList "><a href="{gr-:U('User/Sms/buy')}">购买短信</a> </li>
            </ul>
          </div>
        </div>

<div class="col-xs-9 col-sm-9  col-md-10 col-lg-10 ">
<style>
.usercontent  ul li{
float:none;
line-height:50px;
padding-left:10px;
}
input{border: 1px solid #DDDDDD;height:30px;width:200px;margin-left:10px;}
.new-btn-login{
    background-color: transparent;
    background-image: url("__IMG__/img/new-btn-fixed.png");
    border: medium none;
	border:1px solid red;
	
}
.new-btn-login{
    background-position: 0 -198px;
    width: 82px;
	color: #FFFFFF;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    padding: 0 10px 3px;
	
}
.new-btn-login:hover{
	background-position: 0 -167px;
	width: 82px;
	color: #FFFFFF;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    padding: 0 10px 3px;
}
.bottonbox{
border: 1px solid #D74C00;
padding: 1px;
display: inline-block;
}
</style>
<script>

$(function(){
	$('#count').change(function(){

		$('#price').val(<?php echo intval(C('sms_price'));?>*$('#count').val()/100);
	});
});
</script>
<div class="usercol-xs-9 col-sm-9  col-md-10 col-lg-10 ">
<ul class="list-unstyled">
<form action="{gr-:U('Sms/buy_post')}" method="post" onsubmit="return checkcz()">
	<li> 
		<b>短信价格: </b>
		<?php echo C('sms_price');?>分/条
    </li>
	<li> <b>账户余额: </b><input type="text" style="border:none;width:30px;" name="moneybalance" value="{gr-$thisUser.moneybalance}" id="needmoneybalanceprice" size="10" disabled> 元<b></b></li>
	<li> <b>购买条数: </b><input type="text" style="width:50px;" name="count" value="100" id="count" size="10"> 条（100条起订）<b></b></li>
	<li> <b>价格合计: </b><input type="text" name="price" style="border:none;width:50px;" value="<?php echo intval(C('sms_price'));?>" id="price" size="10" disabled> 元</li>

	<li><span class="bottonbox"><button class="new-btn-login" type="submit" style="text-align:center;">确 认</button></span></li>
</ul>
        <div class="clearfix"></div>
      </div>
          <div >
            <div class="pageNavigator right">
              <div class="pages"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!--底部-->
  	</div>



<include file="Public/footer"/>