<include file="Public/head"/>
<link href="__STATIC__/vote/wap/skins/all.css?v=0.9.1" rel="stylesheet">
<link href="__STATIC__/vote/wap/vote.css" rel="stylesheet">
<script src="__STATIC__/vote/wap/jquery.icheck.min.js?v=0.9.1"></script>
<div class="col-xs-9 col-sm-9  col-md-10 col-lg-10 ">

    <div class="layout clear">
        <div class="skin skin-line">

            <div class="skin-section">
                <h4>{gr-$vote.title}</h4>
                <h3><a href="{gr-:U('Vote/index')}" class="btn btn-primary" data-top><i class="mdi-content-reply"></i>返回</a></h3>

                <p class="modus"> <if condition="$vote['cknums'] eq 1"> 单选<else/>多选</if>投票，<span class="number">共有{gr-$count}人参与投票</span></p>
                <ul class="list-unstyled">
                    <volist name="vote_item" id="li">
                    <if condition="$vote['cknums'] eq 1">
                    <if condition="$vote['type'] eq 'text'">
                    <li>
                        <input tabindex="{gr-$i}" type="radio" name="vid" value="{gr-$li.id}" id="line-radio-{gr-$i}">
                        <label for="line-radio-{gr-$i}">{gr-$li.item}</label>

                        <div class="progress" style="height:20px;">
                            <div class="progress-bar progress-bar-info"  style="width: {gr-$li.per|default=2}%">{gr-$li.per}%</div> &nbsp;<span class="bg-info">{gr-$li['pro']} (人)</span>
                        </div>
                    </li>
                    <else/> <!--img-->
                    <li>
                        <span><img src="{gr-$li.startpicurl}" ></span>
                        <input tabindex="{gr-$i}" type="radio" name="vid" value="{gr-$li.id}" id="line-radio-{gr-$i}">
                        <label for="line-radio-{gr-$i}">{gr-$li.item}</label>

                        <div class="progress" style="height:20px;">
                            <div class="progress-bar progress-bar-info" style="width: {gr-$li.per|default=2}%">{gr-$li.per}%</div> &nbsp;<span  class="bg-info">{gr-$li['pro']} (人)</span>
                        </div>
                    </li>
                    </if>

                    <else/>
                    <if condition="$vote['type'] eq 'text'">
                    <li>
                        <input tabindex="{gr-$i}" type="radio" name="vid" value="{gr-$li.id}" id="line-radio-{gr-$i}">
                        <label for="line-radio-{gr-$i}">{gr-$li.item}</label>

                        <div class="progress" style="height:20px;">
                            <div class="progress-bar progress-bar-info" style="width: {gr-$li.per|default=2}%">{gr-$li.per}%</div> &nbsp;<span  class="bg-info">{gr-$li['pro']} (人)</span>
                        </div>
                    </li>
                    <else/> <!--img-->
                    <li>
                        <span><img src="{gr-$li.startpicurl}" ></span>
                        <input tabindex="{gr-$i}" type="radio" name="vid" value="{gr-$li.id}" id="line-radio-{gr-$i}">
                        <label for="line-radio-{gr-$i}">{gr-$li.item}</label>

                        <div class="progress" style="height:20px;" >
                            <div class="progress-bar progress-bar-info" style="width: {gr-$li.per|default=2}%">{gr-$li.per}%</div> &nbsp;<span  class="bg-info">{gr-$li['pro']} (人)</span>
                        </div>
                    </li>
                    </if>
                    </if>
                    </volist>
                </ul>

            </div>

            <script>
            $(document).ready(function(){
                $('.skin-line input').each(function(){
                var self = $(this),
                    label = self.next(),
                    label_text = label.text();
                    
                label.remove();
                self.iCheck({
                    checkboxClass: 'icheckbox_line-orange',
                    radioClass: 'iradio_line-orange',
                    insert: '<div class="icheck_line-icon"></div>' + label_text
                    });
                    
                });
            });
            </script>
        </div>
    </div>
</div>
<include file="Public/footer"/>