<include file="Index:header"/>
<div class="col-xs-9 col-sm-9  col-md-10 col-lg-10 ">
          <div class="righttitle"><h4>邀请朋友加入</h4></div>
    
          <div class="" style="margin:20px auto">
            请把这个地址复制给您的朋友 <span style="color:red">{gr-:U('Home/Index/login',array('invite'=>$thisUser['invitecode']))}</span><br>
            从这个地址注册后系统将自动记录是您邀请过的
            {gr-:U('User/Message/img')}
          </div>

        </div>
        
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!--底部-->
  	</div>
<include file="Public/footer"/>	