<include file="Public/head"/>
 <div class="col-xs-9 col-sm-9  col-md-10 col-lg-10 ">
        <div class="righttitle">
          <h4>3G站点底部菜单设置</h4>
        </div>
                 <ul id="tags" class="nav nav-tabs">
          <li><a href="{gr-:U('Catemenu/index')}">底部菜单分类设置</a> </li>
          <li class="active" role="presentation"><a href="{gr-:U('Catemenu/styleSet')}">底部菜单风格<i class="mdi-toggle-check-box"></i>选择</a> </li>
          <li><a href="{gr-:U('Home/plugmenu')}">菜单颜色与版权</a> </li>
          <div class="clearfix"></div>
        </ul>
        <div class="righttitle" style="padding:0;margin:0"></div>
        <div class="">
        <div class="bg-warning tip" style="margin:10px 0">更换菜单样式后需要过大概五分钟才会生效</div> 
          <table class="table" >
            <tbody>
              <tr>
                <td><form id="form1" name="form1" method="post" action="">
                    <ul class="list-unstyled">
                     <li class="pull-left text-center">  
                        <label <if condition="$radiogroup eq 0"> class="active" </if> ><img src="__CSS__/catemenu-style/000.png">
                          <div class="radio radio-primary">
                            <label>
                          <input class="radio" type="radio" name="radiogroup" value="0" id="radiogroup_0" <if condition="$radiogroup eq 0"> checked </if>>
                          关闭底部导航
                          </label>
                          </div>
                          </label>
                     
                      </li>
                      <li  class="pull-left text-center <if condition="$radiogroup eq 1">active </if> "  >
                        <label><img src="__CSS__/catemenu-style/001.png">
                            <div class="radio radio-primary">
                            <label>
                          <input class="radio" type="radio" name="radiogroup" value="1" id="radiogroup_1" <if condition="$radiogroup eq 1"> checked </if>>
                          1.左侧展开</label>
                          
                        </div>
                      </label>
                      </li>
                      <li  class="pull-left text-center <if condition="$radiogroup eq 2"> active </if>" >
                        <label><img src="__CSS__/catemenu-style/002.png">
                            <div class="radio radio-primary">
                            <label>
                          <input class="radio" type="radio" name="radiogroup" value="2" id="radiogroup_2" <if condition="$radiogroup eq 2"> checked </if>>
                          2.右侧展开</label>
                        </div>
                      </label>
                      </li>
                      <li class="pull-left text-center <if condition="$radiogroup eq 3"> active </if> ">
                        <label><img src="__CSS__/catemenu-style/003.png">
                            <div class="radio radio-primary">
                            <label>
                          <input class="radio" type="radio" name="radiogroup" value="3" id="radiogroup_3" <if condition="$radiogroup eq 3"> checked </if>>
                          3.左侧滑入</label>
                        </div>
                      </label>
                      </li>
                      <li class="pull-left text-center" <if condition="$radiogroup eq 4"> active </if>">
                        <label><img src="__CSS__/catemenu-style/004.png">
                            <div class="radio radio-primary">
                            <label>
                          <input class="radio" type="radio" name="radiogroup" value="4" id="radiogroup_4" <if condition="$radiogroup eq 4"> checked </if>>
                          4.右侧滑入</label>
                        </div>
                      </label>
                      </li>
                      <li class="pull-left text-center <if condition="$radiogroup eq 5"> active </if>">
                        <label><img src="__CSS__/catemenu-style/005.png">
                            <div class="radio radio-primary">
                            <label>
                          <input class="radio" type="radio" name="radiogroup" value="5" id="radiogroup_5" <if condition="$radiogroup eq 5"> checked </if>>
                          5.左侧底部滑入</label>
                        </div>
                      </label>
                      </li>
                      <li class="pull-left text-center <if condition="$radiogroup eq 6"> active </if>"> 
                        <label><img src="__CSS__/catemenu-style/006.png">
                            <div class="radio radio-primary">
                            <label>
                          <input class="radio" type="radio" name="radiogroup" value="6" id="radiogroup_6" <if condition="$radiogroup eq 6"> checked </if>>
                          6.右侧底部滑入</label>
                        </div>
                      </label>
                      </li>
                      <li class="pull-left text-center <if condition="$radiogroup eq 7"> active </if>">
                        <label><img src="__CSS__/catemenu-style/007.png">  <div class="radio radio-primary">
                            <label>
                          <input class="radio" type="radio" name="radiogroup" value="7" id="radiogroup_7" <if condition="$radiogroup eq 7"> checked </if>>
                          7</label>
                        </div>
                      </label>
                      </li>
                      <li class="pull-left text-center <if condition="$radiogroup eq 8"> active </if>">
                        <label><img src="__CSS__/catemenu-style/008.png">  <div class="radio radio-primary">
                            <label>
                          <input class="radio" type="radio" name="radiogroup" value="8" id="radiogroup_8" <if condition="$radiogroup eq 8"> checked </if>>
                          8</label>
                        </div>
                      </label>
                      </li>
                      <li class="pull-left text-center <if condition="$radiogroup eq 9"> active </if>">
                        <label><img src="__CSS__/catemenu-style/009.png">  <div class="radio radio-primary">
                            <label>
                          <input class="radio" type="radio" name="radiogroup" value="9" id="radiogroup_9" <if condition="$radiogroup eq 9"> checked </if>>
                          9</label>
                        </div>
                      </label>
                      </li>
                      <li class="pull-left text-center <if condition="$radiogroup eq 10"> active </if>">
                        <label><img src="__CSS__/catemenu-style/010.png">  <div class="radio radio-primary">
                            <label>
                          <input class="radio" type="radio" name="radiogroup" value="10" id="radiogroup_10" <if condition="$radiogroup eq 10"> checked </if>>
                          10</label>
                        </div>
                      </label>
                      </li>
                      <li class="pull-left text-center <if condition="$radiogroup eq 11"> active </if>">
                        <label><img src="__CSS__/catemenu-style/011.png">  <div class="radio radio-primary">
                            <label>
                          <input class="radio" type="radio" name="radiogroup" value="11" id="radiogroup_11" <if condition="$radiogroup eq 11"> checked </if>>
                          11</label>
                        </div>
                      </label>
                      </li>
                      <li class="pull-left text-center <if condition="$radiogroup eq 12"> active </if>" >
                        <label><img src="__CSS__/catemenu-style/012.png">  <div class="radio radio-primary">
                            <label>
                          <input class="radio" type="radio" name="radiogroup" value="12" id="radiogroup_12" <if condition="$radiogroup eq 12"> checked </if>>
                          12</label>
                        </div>
                      </label>
                      </li>
                      <li  class="pull-left text-center <if condition="$radiogroup eq 13"> active </if>">
                        <label><img src="__CSS__/catemenu-style/013.png">  <div class="radio radio-primary">
                            <label>
                          <input class="radio" type="radio" name="radiogroup" value="13" id="radiogroup_13" <if condition="$radiogroup eq 13"> checked </if>>
                          13</label>
                        </div>
                      </label>
                      </li>
                      <li  class="pull-left text-center <if condition="$radiogroup eq 14"> active </if>">
                        <label><img src="__CSS__/catemenu-style/014.png">  <div class="radio radio-primary">
                            <label>
                          <input class="radio" type="radio" name="radiogroup" value="14" id="radiogroup_14" <if condition="$radiogroup eq 14"> checked </if>>
                          14</label>
                        </div>
                      </label>
                      </li>
                      <li  class="pull-left text-center <if condition="$radiogroup eq 15"> active </if>">
                        <label><img src="__CSS__/catemenu-style/015.png">  <div class="radio radio-primary">
                            <label>
                          <input class="radio" type="radio" name="radiogroup" value="15" id="radiogroup_15" <if condition="$radiogroup eq 15"> checked </if>>
                          15</label>
                        </div>
                      </label>
                      </li>
                      <li  class="pull-left text-center <if condition="$radiogroup eq 16"> active </if>">
                        <label><img src="__CSS__/catemenu-style/016.png">  <div class="radio radio-primary">
                            <label>
                          <input class="radio" type="radio" name="radiogroup" value="16" id="radiogroup_16" <if condition="$radiogroup eq 16"> checked </if>>
                          16</label>
                        </div>
                      </label>
                      </li>
                    </ul>
                    <script>
                    $(document).ready(function(){
                      $("input.radio").click(function(ev){
                          var radiostyle=$(this).val();
                          console.log("设置成 ",radiostyle);
                          $(".cateradio li").each(function(){
                            $(this).removeClass("active");
                          });
                          $(this).parents("li").addClass("active");
                          $.ajax({
                              type:"get",
                              url:"{gr-:U('User/Catemenu/styleChange')}"+"?radiogroup="+radiostyle,
                              dataType:"json",
                          });
                          // ev.preventDefault();
                          // ev.stopProgration
                      });
                    });
                    </script>

                  </form></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--底部-->   </div>
  <include file="Public/footer"/>