<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" /><meta charset="utf-8" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta name="format-detection" content="telephone=no"/>
<title>{gr-$metaTitle}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
<meta name="format-detection" content="telephone=no" />
<script src="__CSS__/store/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="__CSS__/store/js/jquery.lazyload.js" type="text/javascript"></script>
<script src="__CSS__/store/js/notification.js" type="text/javascript"></script>
<script src="__CSS__/store/js/swiper.min.js" type="text/javascript"></script>
<script src="__CSS__/store/js/main.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="__CSS__/store/css/touch_index_1.css">
</head>
<body>
<div id="top"></div>
<div id="scnhtm5" class="m-body">
<div class="menu">
<a href="{gr-:U('Store/index',array('token'=>$_GET['token'],'wecha_id'=>$_GET['wecha_id']))}"><i></i>所有商品</a>
<a href="{gr-:U('Store/cart',array('token'=>$_GET['token'],'wecha_id'=>$_GET['wecha_id']))}"><i></i>购物车</a>
<a href="{gr-:U('Store/my',array('token'=>$_GET['token'],'wecha_id'=>$_GET['wecha_id']))}"><i></i>查物流</a>
<a href="{gr-:U('Store/my',array('token'=>$_GET['token'],'wecha_id'=>$_GET['wecha_id']))}"><i></i>用户中心</a>
</div>  
<!--主体-->
<volist name="cats" id="hostlist" key="i"> 
	<php>if ($i > 6) {$k = $i % 6 + 1;} else {$k = $i;}</php>
	<div class="m-floor">
	<a class="tit bgf{gr-$k}" href="{gr-:U('Store/products',array('token' => $_GET['token'], 'catid' => $hostlist['id'], 'wecha_id' => $wecha_id))}">
	<i></i>{gr-$hostlist.name}</a>
	</div>
</volist> 
</div>
</body>
<script type="text/javascript">
window.shareData = {  
            "moduleName":"Store",
            "moduleID":"{gr-$cats[0]['id']}",
            "imgUrl": "{gr-$cats[0]['logourl']}", 
            "timeLineLink": "{gr-:C('site_url') .  U('Store/index',array('token' => $_GET['token']))}",
            "sendFriendLink": "{gr-:C('site_url') .  U('Store/index',array('token' => $_GET['token']))}",
            "weiboLink": "{gr-:C('site_url') .  U('Store/index',array('token' => $_GET['token']))}",
            "tTitle": "{gr-$metaTitle}",
            "tContent": "{gr-$metaTitle}"
        };
</script>
{gr-$shareScript}
</html>