<include file="Public/head"/>
<!-- <link rel="stylesheet" type="text/css" href="__CSS__/cymain.css" /> -->  
<div class="col-xs-9 col-sm-9  col-md-10 col-lg-10 ">
<!--tab start-->
<div class="tab">
<ul class="list-unstyled nav nav-tabs">
<li class="current tabli" id="tab2"><a href="{gr-:U('Store/index',array('token'=>$token))}">商品分类管理</a></li>
<li class="tabli" id="tab0"><a href="{gr-:U('Store/product',array('token'=>$token, 'catid'=>$catid))}">商品管理</a></li>
<li class="tabli" id="tab2"><a href="{gr-:U('Store/orders',array('token'=>$token))}">订单管理</a></li>
<li class="tabli" id="tab5"><a href="{gr-:U('ReplyInfo/set',array('token'=>$token,'infotype'=>'Shop'))}">商城回复配置</a></li>
</ul>
</div>
<!--tab end-->
<div >
<div class="pageNavigator left">
	<a href="{gr-:U('Store/normsAdd',array('token'=>$token,'catid'=>$catid))}" title="新增规格名称" class="btn btn-primary">
	<img src="__IMG__/product/add.png" class="vm">新增<span class="red">{gr-$catData.name}</span>分类的规格名称</a>
</div>
<div class="pageNavigator right">
	<a href="{gr-:U('Store/index',array('token'=>$token,'catid'=>$catid))}" class="btn btn-primary"><i class="mdi-content-reply"></i>返回</a>
</div>
<div class="clearfix"></div>
</div>
<div class="">
<form method="post" action="" id="info">
<input name="delall" type="hidden" value="">
<input name="wxid" type="hidden" value="">
<table class="table table-condensed table-bordered table-striped" border="0" cellspacing="0" cellpadding="0" width="100%">
<thead>
<tr>
<th class="select">名称</th>
<th width="160">分类名称</th>
<th width="130">规格名称</th>
<th width="250" class="norightborder">操作</th>
</tr>
</thead>
<tbody>
<tr></tr>
<volist name="list" id="hostlist"> 
<tr>
<td></td>
<td>{gr-$catData.name}</td>
<td>{gr-$hostlist.name}</td>
<td class="norightborder">
	<a href="{gr-:U('Store/formatAdd',array('token'=>$token,'id'=> $hostlist['id'], 'catid' => $catid))}"><i class="mdi-editor-mode-edit"></i>修改</a>
	<a href="javascript:drop_confirm('您确定要删除吗?', '{gr-:U('Store/normsDel',array('id' => $hostlist['id'], 'token'=>$token, 'catid' => $catid))}');"><i class="mdi-action-delete"></i>删除</a>
	<a href="{gr-:U('Store/norms',array('token'=>$token,'fid'=> $hostlist['id'], 'catid' => $catid))}">增加规格值</a>
</td>
</tr>
</volist>
</tbody>
</table>
</form>
</div>
<div >
<div class="pageNavigator right">
<div class="pages">{gr-$page}</div>
</div>
<div class="clearfix"></div>
</div>
</div>
<include file="Public/footer"/>